.result-class {
    margin-top: 440px;
}

p {
    text-align: center;
    font-weight: bold;
    font-size: xx-large;
}

.buttonContainer {
    text-align: center;
    margin: 20px;
    margin-top: 130px;
  }

  .centered {
    margin-top: 350px;
    margin-left: 50%;
    position: relative;
    text-align: center;
    top: 50%;
    width: 20%; 
  }