* {
  font-family: 'Roboto', sans-serif;
}

.falcon-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
  }

  .falcon-full-width {
    width: 54%;
  }

  .mat-radio-button ~ .mat-radio-button {
    padding-right: 16px;
  }

  /* mat-grid-tile {
    background: rgb(236, 239, 240);
  } */

  
  .mat-radio-button {
    display: -webkit-box;
    margin: 10px;
}

#container {
  width:100%;
  text-align:center;
}

#center {
  display: inline-block;
  margin:0 auto;
  width:60%;
  font-size: 50px;
  text-align: right;

}

#right {
  float:right;
  width:40%;
  text-align: center;
  font-size: 39px;
  margin-top: 5px;
}

.buttonContainer {
  text-align: center;
  margin: 20px;
  margin-top: 150px;
}

